body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}



.boxes {
    display: flex;
    flex-direction: row;
}

.box_1 {
    height: 200px;
    border: 1px solid rgba(34, 32, 32, 0.576);
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.box_2 {
    height: 200px;
    border: 1px solid rgba(42, 40, 40, 0.559);
    border-radius: 5px;
    width: 100%;

}

.box_output {
    height: 200px;
    border: 1px solid rgba(42, 40, 40, 0.559);
    border-radius: 5px;
    width: 100%;
}

.btns {
    background-color: red;
    width: 60%;
    margin: 0 auto;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btns:hover {
    background-color: rgb(189, 10, 10);
}

.btns:first-child {
    margin-top: 37px;
}

#addUser_btn {
    width: 50%;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20%;
}

#addUser_btn:hover {
    background-color: rgb(15, 109, 15);
    cursor: pointer;
}

input {
    margin: 7px;
}

#modal_img {
    width: 100%;
}

#clrBtn {

    width: 10%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 45%;
}