body {
    height: 100%;
    width: 100%;
    background-color: #081923;
}

.btn {
    background-color: #0c2635;
    /* background-color: #1912ef; */
    height: 70px;
    font-size: 2rem;
    border-radius: 0px;
    margin-top: 1px;
    
}

.btn:hover {
    background-color: #0c2635;
}

input {
    height: 126px;
}

.mainDiv {
    /* background-color: #0c2630; */
    opacity: 20;
}
